<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- File target -->
		<target xsi:type="File" name="logfile" fileName="Logs/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,StackTrace}" />
	</targets>

	<rules>
		<!-- Log all levels -->
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
</nlog>
